# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

frontend/.env.local
backend/.env

# =========================
# Next.js
# =========================
frontend/.next/
frontend/out/
frontend/.vercel/

# =========================
# NestJS
# =========================
backend/dist/
backend/coverage/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Cache
# =========================
.cache/
.eslintcache

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
coverage/

client_secret_*.json